  .logo {
    height: 60px;
    background: #fff;
    margin: 16px 6px;
    img{
      width: 100%;
      height:100%
    }
  }
  .site-layout .site-layout-background {
    background: #fff;
    position: relative;
    h1{
      font-family:"Times New Roman",Georgia,Serif;
      font-weight: bolder;
      text-align: center;
      font-size: 30px;
      line-height: 60px;
    }
    .ant-dropdown-link{
      position: absolute;
      right: 30px;
      top: 0;
    }
    .user{
      position: absolute;
      right: 120px;
      top: 0;
      font-size:12px ;
    }
  }