.header {
    display: flex;
    height: 44px;
    line-height: 3.14285714rem;
    background: #fff;
    color: #232628;
    font-family: SourceHanSansCN, -apple-system, Verdana, Arial, Helvetica, sans-serif;

    .hleft {
        flex: 1;

        span {
            text-align: center;
        }
    }

    .hcenter {
        flex: 2;
    }

    .hright {
        flex: 1;
    }
}