.header {
  display: flex;
  height: 3.14285714rem;
  line-height: 3.14285714rem;
  background: #fff;
  color: #232628;
  font-family: SourceHanSansCN, -apple-system, Verdana, Arial, Helvetica, sans-serif;
}

.header .hleft {
  flex: 1;
}

.header .hleft span {
  text-align: center;
}

.header .hcenter {
  flex: 2;
}

.header .hright {
  flex: 1;
}
